#myVideo {
    position: fixed;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    }
    
    .row{
        position: fixed;
        top: 9vh;
        bottom: 0vh;
        left: 5vw;
        max-width: 75%;
        min-width: 65%;
    }