<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My Chat</a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="align-items: flex-end;" href="home" (click)="goToSignUp()" routerLink="/signup">Sign-Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <video id="myvideo" autoplay loop muted>
    <source src="../../assets/vid1.mp4" type="video/mp4">
  </video>
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Login</h3>
        <form #f="ngForm"
              (ngSubmit)="signInFunction()">
            <div class="form-group">
                <label for="registerEmail">Email</label>
                <input type="email"
                       name="email"
                       required [(ngModel)]="email"
                       class="form-control"
                       id="registerEmail"
                       placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="registerPassword">Password</label>
                <input type="password"
                       name="password"
                       required [(ngModel)]="password"
                       class="form-control"
                       id="registerPassword"
                       placeholder="Password" required>
            </div>
            <button type="submit"
                    [disabled]="!f.form.valid"
                    class="btn btn-primary"(click)="signInFunction()"> Log In <i class="fas fa-sign-in-alt"></i></button>
        </form>
    </div>
</div>

  

